<h1>OMG IT&quot;S JOSH!!1!</h1>
<div id="pic_frame">
	<img src="<%= url_for :action => 'picture', :id => @picture.id %>" />
</div>
<% if not @sticky.nil? %>
  <%= render :partial => "sticky", :locals => {:id => @sticky} %>
<% end %>
<p>
  <% form_for @comment do |f| %>
		<%= f.error_messages %>
	
	  <p>
	    <%= f.label :comment %><br />
	    <%= f.text_field :body %>
			<%= f.hidden_field :picture_id %>
	  </p>
	  <p>
	    <%= f.submit "Create" %>
	  </p>
	<% end %>	
</p>